{% extends "base.html" %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="sticky-button fixed-top container d-flex justify-content-end">
    <a href="{% url 'image-category'  slug %}">
        <i class="fa fa-times fa-lg text-dark" aria-hidden="true"></i>
    </a>
</div>

<main>
    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto" onclick="playAudio('audio_answer')">
                <h1 class="fw-light">{{answer.title}}</h1>
                <audio src="{{ answer.audio.url }}" id="audio_answer" autoplay></audio>
            </div>
        </div>
    </section>
<div class="bg-light">
    <div class="card-board">
        {% for card in cards %}
                <div id="{{card.slug}}" class="card card-item shadow" onclick="playAudio('audio_{{forloop.counter0}}')">
                        <img class="card-image" src="{{card.image.url}}" alt="{{card.altText}}">
                        <audio src="{{ card.audio.url }}" id="audio_{{forloop.counter0}}"></audio>
                 </div>
                {% endfor %}
    </div>
</div>
<!-- Sticky buttons -->
<div class="sticky-button fixed-bottom container d-flex justify-content-end">
    <a role="button" href="{% url 'image-game' slug %}">
        <button id = "next-button" class="btn btn-dark btn-circle btn-circle-lg m-1 disabled">
            <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </a>
</div>

</main>
{% endblock content %}

{% block script %}
    <script>
         $('.card-item').click(function() {
         if(this.id == '{{answer.slug}}') {
            console.log('You are right');
         }
         else {
            console.log('You are wrong');
            $(this).css("outline","10px solid red");
         }
         document.getElementById('{{answer.slug}}').classList.add('selected-correct');
         document.getElementById('next-button').classList.remove('disabled');
    });

    function playAudio(audio_id){
               document.getElementById(audio_id).play();
        }
    </script>
{% endblock script %}