{% extends "games/game_board.html" %}

{% block title %}
<h1 class="fw-light">{{answer.title}}</h1>
{% endblock title %}

{% block game %}
<h1>SOUND GAME</h1>
<div class="bg-light">
    <div class="card-board">
        {% for card in cards %}
            <div id="{{card.slug}}" class="card card-item shadow" onclick="playAudio('audio_{{forloop.counter0}}')">
                    <img class="card-image" src="{{card.image.url}}" alt="{{card.altText}}">
                <audio src="{{ card.audio.url }}" id="audio_{{forloop.counter0}}"></audio>
             </div>
        {% endfor %}
    </div>
</div>
{% endblock game %}
