{% extends "base.html" %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="sticky-button fixed-top container d-flex justify-content-end">
    <a href="{% url 'image-category'  slug %}">
        <i class="fa fa-times fa-lg text-dark" aria-hidden="true"></i>
    </a>
</div>

<main>
    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto" onclick="playAudio('audio_answer')">
                {% block title %}
                {% endblock title %}
            </div>
        </div>
    </section>
    <div class="progress">
      <div id="progressBar" class="progress-bar bg-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    {% block game %}
    {% endblock game %}

<!-- Sticky buttons -->
<div class="sticky-button fixed-bottom container d-flex justify-content-end">
        {% block sticky_button %}
        {% endblock sticky_button %}
        <!-- if progress_width < 100 -->
        <a id = "next-button" class = "text-light disabled" role="button" onclick="saveProgress()" href="{% url 'image-game' game_num slug %}">
            <button class="btn btn-dark btn-circle btn-circle-lg m-1 disabled">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </a>
        <!-- else -->
      <a id = "end-button" class = "text-light disabled" role="button" onclick="endGame()" href="{% url 'image-category' slug %}">
        <button class="btn btn-dark btn-circle btn-circle-lg m-1 disabled">
            <i class="fa fa-trophy" aria-hidden="true"></i>
        </button>
      </a>
</div>

</main>
{% endblock content %}

{% block script %}
    <script>
        // Save progress
        var key = {{game_num}} + '_num_visits';
        var num_visits = sessionStorage.getItem(key) || 1;
        var progress_width = 100 * num_visits / 10;
        document.getElementById('progressBar').style.width = progress_width + "%";
        if (progress_width < 100) {
            document.getElementById('end-button').style.display = 'none';
        }
        else {
            document.getElementById('next-button').style.display = 'none';
        }

         $('.card-item.variant').click(function() {
         var keyBtn = 'next-button';
         if (progress_width >= 100) {
            keyBtn = 'end-button';
        }
         var next_button = document.getElementById(keyBtn);
         next_button.classList.remove('disabled');
         next_button.getElementsByTagName('button')[0].classList.remove('disabled');

    });
    function saveProgress() {
        sessionStorage.setItem(key, parseInt(num_visits) + 1);
    }
    function endGame() {
        var key = {{game_num}} + '_num_visits';
        sessionStorage.removeItem(key);
    }
    function playAudio(audio_id) {
            var audio = document.getElementById(audio_id);
            try {
                audio.play();
            } catch (e) {
                console.log(e);
            }
        }
        {% block add_script %}
        {% endblock add_script %}
    </script>
{% endblock script %}