{% extends "base.html" %}

{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">

                <h1 class="fw-light">{{category.title}}</h1>

            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container-xl">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

                {% if cards|length > 0 %}
                {% for card in cards %}
                <div class="col">
                    <div class="card shadow">
                        <img src="{{card.image.url}}" alt="{{card.altText}}">
                        <div class="overlay">{{card.title}}</div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2>No image for selected category</h2>
                {% endif %}

            </div>
        </div>
    </div>
</main>

<!-- Sticky button with modal -->
<div class="sticky-button fixed-bottom container d-flex justify-content-end">
    <a role="button" href="{% url 'image-game' category.slug %}">
        <button class="btn btn-dark btn-circle btn-circle-lg m-1"><i class="fa fa-gamepad" aria-hidden="true"></i></button>
    </a>
    <a href="#fullscreenModal" role="button" data-toggle="modal">
        <button class="btn btn-dark btn-circle btn-circle-lg m-1"><i class="fa fa-arrows-alt fa-lg"></i></button>
    </a>
</div>

<!-- Modal for all images slider -->
<div class="modal fade" id="fullscreenModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{category.title}}</h5>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body p-4" id="result">

                <div id="demo" class="carousel slide container" data-ride="carousel">

                    <!-- Indicators
                    <ul class="carousel-indicators">

                        {% for i in cards %}

                          {% if forloop.counter0 == 0 %}
                              <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                          {% else %}
                              <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}"></li>
                          {% endif %}

                        {% endfor %}

                    </ul>
                      -->
                    <!-- The slideshow -->
                    <div class="carousel-inner">

                        {% for card in cards %}

                        {% if not forloop.first %}
                        <div class="carousel-item">
                            <audio src="{{ card.audio.url }}" id="audio_{{forloop.counter0}}"></audio>
                            <div class="audio-btn" onclick="playAudio('audio_{{forloop.counter0}}')"><i
                                    class="fa fa-music fa-lg white" aria-hidden="true"></i></div>
                            <img src="{{card.image.url}}" alt="{{card.altText}}">
                        </div>
                        {% else %}
                        <div class="carousel-item active">
                            <audio src="{{ card.audio.url }}" id="audio_{{forloop.counter0}}"></audio>
                            <div class="audio-btn" onclick="playAudio('audio_{{forloop.counter0}}')"><i
                                    class="fa fa-music fa-lg white" aria-hidden="true"></i></div>
                            <img src="{{card.image.url}}" alt="{{card.altText}}">
                        </div>
                        {% endif %}


                        {% endfor %}

                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>


            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script>
        function playAudio(audio_id){
               document.getElementById(audio_id).play();
        }

        let allSlides = $("#demo").find('.carousel-item');

        allSlides.each(function(index, el) {
          if (index !== 0) {
            $(this).find('audio')[0].pause();
          }
        });
        function playSlide(ev) {
          let slides = $(this).find('.carousel-item');
          let pvid = slides[ev.from].querySelectorAll('audio')[0];
          let vid = slides[ev.to].querySelectorAll('audio')[0];
          console.log(vid);
          let isPlaying = vid.currentTime > 0 && vid.readyState > 2;

          vid.play();

          if (isPlaying) {
            pvid.pause();
          }
        }
        $("#demo").on('slide.bs.carousel', playSlide);
        function playSlide0(ev) {
          let slide = $("#demo").find('.carousel-item.active');
          if (slide.length > 0){
              let vid = slide[0].querySelectorAll('audio')[0];
              vid.play();
          }
        }

        $("#fullscreenModal").on('show.bs.modal', playSlide0);
    </script>
{% endblock script %}

