{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Settings</h1>
            </div>
        </div>
    </section>
<div class="bg-light p-5">
    <div class="container p-0">
        <div class="row">
            <div class="col-md-5 col-xl-4">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Account Settings</h5>
                    </div>

                    <div class="list-group list-group-flush" role="tablist">
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account" role="tab">
                          <i class="fa fa-home text-center mr-1"></i>
                            Account
                        </a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                          <i class="fa fa-key text-center mr-1"></i>
                          Password
                        </a>
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#application" role="tab">
                          <i class="fa fa-tv text-center mr-1"></i>
							Application
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-xl-8">
                <div class="tab-content">
                    <div class="tab-pane fade" id="account" role="tabpanel">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Account info</h5>
                            </div>
                            <div class="card-body">
                                <form id="user_edit_form" onsubmit="userEdit(event)" method="post">
                                    {% csrf_token %}
                                    {{ form_user_edit|crispy}}
                                    <button type="submit" class="btn btn-dark">Save changes</button>
                                    <div class="snackbar" id="snackbar_user_edit">Account info updated</div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="password" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Password</h5>
                                <form id = "password_change_form" onsubmit="changePassword(event)" method="post">
                                    {% csrf_token %}
                                    {{ form_change_password|crispy}}
                                    <button type="submit" class="btn btn-dark">Save changes</button>
                                    <div class="snackbar" id="snackbar_password">Password updated</div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="application" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Application</h5>

                                <form id="app_form" onsubmit="saveSettings(event)" method="post">
                                    {% csrf_token %}
                                    {{ app_form|crispy}}
                                    <button type="submit" class="btn btn-dark confetti-button">Save changes</button>
                                    <div class="snackbar" id="snackbar">Settings updated</div>
                                </form>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Modes</h5>
                                <a href="{% url 'home_with_tags' %}">
                                    <button type="button" class="btn btn-dark">Tag mode</button>
                                </a>
                                <small id="hint_btn_edit_mode" class="form-text text-muted">
                                    In tag mode you can set cards tags and save default filtering</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Active games</h5>
                                {% if games|length > 0 %}
                                    <ul class="list-group list-group-xl mx-auto">
                                        {% for game in games %}
                                        <div class="pt-3">
                                            <li class="list-group-item rounded-0">
                                                <div class="custom-control custom-checkbox">
                                                    {% if game.is_active %}
                                                        <input class="custom-control-input" id="game_{{game.id}}" type="checkbox" checked>
                                                    {% else %}
                                                        <input class="custom-control-input" id="game_{{game.id}}" type="checkbox">
                                                    {% endif %}
                                                    <label class="cursor-pointer d-block custom-control-label" for="game_{{game.id}}">
                                                        {{game.title}}</label>
                                                    <small class="form-text text-muted">{{game.description}}</small>
                                                </div>
                                            </li>
                                        </div>
                                        {% endfor %}
                                    </ul>
                                    <br>
                                    <button type="submit" class="btn btn-dark confetti-button" onclick="gameSelectionSave(event)">Save changes</button>
                                    <div class="snackbar" id="snackbar_games">Games selection updated</div>
                                {% else %}
                                <p>No game types</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper">
        </div>
    </div>
    </div>
</main>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script>
function congratulate() {
      let canvas = document.createElement("canvas");
      let container = document.getElementsByClassName("button-wrapper")[0];
      canvas.width = 600;
      canvas.height = 600;

      container.appendChild(canvas);

      let confetti_button = confetti.create(canvas);
      confetti_button().then(() => container.removeChild(canvas));
}

function gameSelectionSave(e) {
    e.preventDefault();
    let arr = {};
    {% for game in games %}
        arr[{{game.id}}] = $('#game_{{game.id}}').is(":checked");
        //arr.push($('#game_{{game.id}}').is(":checked"));
    {% endfor %}
    let jsonArr = JSON.stringify(arr);
    var formData = {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      selected_games: jsonArr,
    };
    var POST_URL = "{% url 'game_selection' %}";
    $.ajax({
        url: POST_URL,
        type: "POST",
        data: formData,
        success: function (data) {
          var x = document.getElementById("snackbar_games");
          x.classList.add("show");
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
          congratulate();
        }
    }); // end ajax

    return false;
};

function userEdit(e) {
    e.preventDefault();
    var formData = $('#user_edit_form').serialize();
    var POST_URL = "{% url 'user_edit' %}";
    $.ajax({
        url: POST_URL,
        type: "POST",
        data:   formData,
        success: function (data) {
          var x = document.getElementById("snackbar_user_edit");
          x.classList.add("show");
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
          congratulate();
        }
    }); // end ajax
    return false;
};
function changePassword(e) {
    e.preventDefault();
    var formData = $('#password_change_form').serialize();
    var POST_URL = "{% url 'change_password' %}";
    $.ajax({
        url: POST_URL,
        type: "POST",
        data:   formData,
        success: function (data) {
          var x = document.getElementById("snackbar_password");
          x.classList.add("show");
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
          congratulate();
        }
    }); // end ajax
    return false;
};

function saveSettings(e) {
    e.preventDefault();
    var formData = {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      number_of_questions: $("#id_number_of_questions").val(),
      default_game_query: $("#id_default_game_query").val(),
    };
    var POST_URL = "{% url 'application_settings' %}";
    $.ajax({
        url: POST_URL,
        type: "POST",
        data:   formData,
        success: function (data) {
          var x = document.getElementById("snackbar");
          x.classList.add("show");
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
          congratulate();
        }
    }); // end ajax
    return false;
};

document.getElementsByClassName("confetti-button")[0].addEventListener("click", () => {

});

</script>
{% endblock script %}

<!---
Inspiration: https://www.bootdey.com/snippets/view/bs4-Profile-Settings-page
--->
