{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Settings</h1>
            </div>
        </div>
    </section>
<div class="bg-light p-5">
    <div class="container p-0">
        <div class="row">
            <div class="col-md-5 col-xl-4">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Profile Settings</h5>
                    </div>

                    <div class="list-group list-group-flush" role="tablist">
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account" role="tab">
                          <i class="fa fa-home text-center mr-1"></i>
                            Account
                        </a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                          <i class="fa fa-key text-center mr-1"></i>
                          Password
                        </a>
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#application" role="tab">
                          <i class="fa fa-tv text-center mr-1"></i>
							Application
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-xl-8">
                <div class="tab-content">
                    <div class="tab-pane fade" id="account" role="tabpanel">

                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                    <div class="dropdown show">
                                        <a href="#" data-toggle="dropdown" data-display="static">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="19" cy="12" r="1"></circle>
                                                <circle cx="5" cy="12" r="1"></circle>
                                            </svg>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title mb-0">Public info</h5>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="inputUsername">Username</label>
                                                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputUsername">Email</label>
                                                <textarea rows="2" class="form-control" id="inputEmail" placeholder="Email"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-center">
                                                <img alt="Avatar" src="https://w7.pngwing.com/pngs/867/134/png-transparent-giant-panda-dog-cat-avatar-fox-animal-tag-mammal-animals-carnivoran-thumbnail.png" class="rounded-circle img-responsive mt-2" width="128" height="128">
                                                <div class="mt-2">
                                                    <span class="btn btn-dark"><i class="fa fa-upload"></i></span>
                                                </div>
                                                <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-dark">Save changes</button>
                                </form>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="password" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Password</h5>

                                <form>
                                    <div class="form-group">
                                        <label for="inputPasswordCurrent">Current password</label>
                                        <input type="password" class="form-control" id="inputPasswordCurrent">
                                        <small><a href="#">Forgot your password?</a></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPasswordNew">New password</label>
                                        <input type="password" class="form-control" id="inputPasswordNew">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPasswordNew2">Verify password</label>
                                        <input type="password" class="form-control" id="inputPasswordNew2">
                                    </div>
                                    <button type="submit" class="btn btn-dark">Save changes</button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="application" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Application</h5>

                                <form id="app_form" onsubmit="saveSettings(event)" method="post">
                                    {% csrf_token %}
                                    {{ app_form|crispy}}
                                    <button type="submit" class="btn btn-dark confetti-button">Save changes</button>
                                    <div class="snackbar" id="snackbar">Settings updated</div>
                                </form>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Modes</h5>
                                <a href="{% url 'home' %}">
                                    <button type="button" class="btn btn-dark">Edit mode</button>
                                </a>
                                <small id="hint_btn_edit_mode" class="form-text text-muted">
                                    In edit mode you can set cards visibility and create own sets</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper">
        </div>
    </div>
    </div>
</main>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script>
function congratulate() {
      let canvas = document.createElement("canvas");
      let container = document.getElementsByClassName("button-wrapper")[0];
      canvas.width = 600;
      canvas.height = 600;

      container.appendChild(canvas);

      let confetti_button = confetti.create(canvas);
      confetti_button().then(() => container.removeChild(canvas));
}
function saveSettings(e) {
    e.preventDefault();
    var formData = {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      autoplay_sound: $("#id_autoplay_sound").is(':checked'),
      number_of_questions: $("#id_number_of_questions").val(),
    };
    var POST_URL = "{% url 'application_settings' %}";
    $.ajax({
        url: POST_URL,
        type: "POST",
        data:   formData,
        success: function (data) {
          var x = document.getElementById("snackbar");
          x.classList.add("show");
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
          congratulate();
        }
    }); // end ajax
    return false;
};

document.getElementsByClassName("confetti-button")[0].addEventListener("click", () => {

});

</script>
{% endblock script %}

<!---
Inspiration: https://www.bootdey.com/snippets/view/bs4-Profile-Settings-page
--->
