{% extends "base.html" %}
{% load static %}

{% block custom_style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
{% endblock custom_style %}

{% block content %}
<main>
    {% include "component/filter_component.html" with tags=tags %}
    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">{{category.title}}</h1>
                <audio src="{{ category.audio.url }}" autoplay></audio>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light" id="cards_container">
        <div class="container-xl">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

                {% if cards|length > 0 %}
                {% for card in cards %}
                <div class="col">
                    {% include "component/card_with_tags_component.html" with card=card %}
                </div>
                {% endfor %}
                {% else %}
                <h2>No image for selected category</h2>
                {% endif %}

            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="{% static 'js/filter_component.js' %}"></script>
    <script>
        var loc = window.location;
        let links = document.getElementById("cards_container").querySelectorAll(".card-link")
        for (let el of links) {
            el.href = el.href + loc.search;
        }


    </script>
{% endblock script %}

