<div class="sticky-button-top fixed-top justify-content-start">
<button class="btn btn-dark rounded-right" data-toggle="collapse" data-target="#filter-navbar">
    <i class="fa fa-filter" aria-hidden="true"></i>
</button>
</div>
<div id="filter-navbar" class="collapse">
<input class="form-control top-filter rounded-0" id="text_filter" type="text" placeholder="Search..">

<select class="select" multiple>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Four</option>
  <option value="5">Five</option>
</select>
<label class="form-label select-label">Example label</label>
</div>