{% extends "base.html" %}
{% load static %}


{% block content %}
<main>
    <div class="album py-5 bg-light" id="cards_container">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="cards_container_inside">
                {% if categories|length > 0 %}
                {% for card in categories %}
                    <div id="cards_board" class="col">
                        {% include "component/card_component.html" with card=card %}
                    </div>
                {% endfor %}

                {% else %}
                <h2>No Categories</h2>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block script %}
    <script>
        var loc = window.location;
        let links = document.getElementById("cards_container").querySelectorAll(".card-link")
        for (let el of links) {
            el.href = el.href + loc.search;
        }

    </script>

{% endblock script %}