<div class="sticky-button-top fixed-top justify-content-start">
<button id="filter_button" class="btn btn-dark rounded-right">
    <i class="fa fa-filter" aria-hidden="true"></i>
</button>
</div>

<div class="snackbar" id="snackbar">Tags updated</div>
<div class="snackbar" id="snackbar_del">Tag deleted</div>

<div id="filter-navbar" class="collapse container">

        <form class="input-group m-3" id="filter_form">
          <input type="text" class="form-control" id="text_filter" placeholder="Filter by title">
            <div class="form-check ml-3 mr-3 mt-1">
              <input class="form-check-input" type="checkbox" id="showTags" name="showTags">
              <label class="form-check-label">Show tags</label>
            </div>
            {% if tags|length > 0 %}
                <div class="col p-0">
                    <select class="form-control" id="tags-filter" placeholder="Filter by tags" multiple>
                        {% for tag in tags %}
                            <option value={{tag}}>#{{tag}}</option>
                        {% endfor %}
                    </select>
                </div>

            {% endif %}

            {% if ptags|length > 0 %}
                <div class="col p-0">
                    <select class="form-control" id="ptags-filter" placeholder="Filter by personal tags" multiple>
                        {% for tag in ptags %}
                            <option value={{tag}}>#{{tag}}</option>
                        {% endfor %}
                    </select>
                </div>

            {% endif %}

            <div class="btn-group input-group-append">
                <button type="button" class="btn btn-dark" onclick="filterByTags()"><i class="fa fa-search"></i></button>
                <button type="button" class="btn btn-dark" onclick="clearFilters()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>

        </form>

</div>